@model IEnumerable<MTAApp.DataAccess.Model.Poll>

@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: palegoldenrod;">
    <div class="text-center">
        <h1 class="display-4">Welcome on M.T.A. App</h1>
    </div>
    <div class="row">
        <div class="column">
            <img src="/img/bloc.png" alt="Poza" height="300" width="550">
        </div>
        <div class="column">
            <h1>Ce este M.T.A. ?</h1>
            <p class="text_bold">
                M.T.A. este o aplicatie creata pentru asociatile de locatari pentru a ajuta
                gestionarea locatariilor, apartamentelor si a serviciilor pe care asociatia
                le detine intr-un mod mult mai simplu si confortabil pentru toti utilizatori.
            </p>
            <h1>Cine poate folosi M.T.A. ?</h1>
            <p class="text_bold">
                M.T.A. este structurata pentru a putea fii folosita atat de administratori pagini care
                vor avea un acces total asupra tuturor functionalitatiilor aplicatiei, dar si utilizatori
                care vor avea un acces mai restrans asupra functionalitatilor aplicatiei.
            </p>
            <h1>De ce este importantă aplicatia M.T.A.?</h1>
            <p class="text_bold">
                - Pentru ajutorul locatarilor care acum pot verifica mult mai usor datele lor despre
                situatia apartamentului in care locuiesc dar si a locuintei generale si datele financiare
                ale acesteia.
            </p>
            <p class="text_bold">
                - Pentru o accesare si o gestionare mult mai usoara a datelor personale si publice
                ale fiecarui locatar intr-un mod virtual si online fara a mai fi nevoie de foarte multe
                hartii si de a sta la coada de asteptare la o asociatie fizica pentru informatii.
            </p>
        </div>
        <div class="row">
            <div class="column">
                <h1>Ce poti face pe M.T.A.</h1>

                <p class="text_bold">Hai sa aflam!</p>

                <p class="text_bold">
                    Poti sa iti gestionezi situatia apartamentului tau din Ap List.
                </p>

                <p class="text_bold">
                    Poti sa gestionezi situatia angajatiilor asociatiei din Employees A/R.
                </p>

                <p class="text_bold">
                   Poti sa gestionezi situatia contractelor asociatiei din Contracts.
                </p>
            </div>
    </div>
        <h1>Polls</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Context)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Context)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    <div class="text-center" style="padding-bottom:30px;">
           <h1 class="display-4">Thanks for using or App.</h1>
     </div>
</body>