/* _content/MTAApp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-txr47udomv] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-txr47udomv] {
    color: #0077cc;
}

.header[b-txr47udomv] {
    background-color: palegoldenrod;
    padding: 1px;
}

.headpos[b-txr47udomv] {
    padding-left: 100px;
    text-align: left;
    color: black;
    font-family: 'Bernard MT';
    font-size: 4rem;
}

.btn-primary[b-txr47udomv] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-txr47udomv], .nav-pills .show > .nav-link[b-txr47udomv] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-txr47udomv] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-txr47udomv] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-txr47udomv] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-txr47udomv] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-txr47udomv] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: black;
    text-align: center;
}
